{% extends 'e_darslik/base.html' %}
{% load static %}

{% block title %}PyDarslik - Editor{% endblock %}


{% block content %}


{% include 'e_darslik/includes/navbar2.html' %}

<div data-datacamp-exercise data-lang="python">
    <code data-type="sample-code">
        # Code Editor
    </code>
</div>

{% include 'e_darslik/includes/footer.html' %}


{% endblock %}


{% block script %}
<script type="text/javascript" src="//cdn.datacamp.com/dcl-react.js.gz"></script>
<script>
        initAddedDCLightExercises();


</script>
{% endblock %}