{% extends 'e_darslik/base.html' %}
{% load static %}

{% block title %}Resource{% endblock %}


{% block content %}

{% include 'e_darslik/includes/navbar2.html' %}

<section class="glassary">
    <div class="container">
        <div class="glass">
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                Lorem
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                dolor
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                sit
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                ipsum
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                consectetur
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                adipisicing
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                elit
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block" class="glass_item d-inline-block">
                Sequi
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                iure
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                atque
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                minima
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                ratione
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                molestiae
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block" class="glass_item d-inline-block">
                earum
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                laboriosam
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                amet
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                quo
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                neque
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                temporibus
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                deserunt
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                iusto
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                possimus
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                fuga
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                laudantium
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                obcaecati
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                exercitationem
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                alias
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                advel
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                Lorem
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                dolor
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                sit
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                ipsum
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                consectetur
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                adipisicing
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                elit
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block" class="glass_item d-inline-block">
                Sequi
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                iure
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                atque
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                minima
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                ratione
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                molestiae
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block" class="glass_item d-inline-block">
                earum
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                laboriosam
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                amet
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                quo
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                neque
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                temporibus
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                deserunt
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                iusto
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                possimus
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                fuga
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                laudantium
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                obcaecati
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                exercitationem
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                alias
            </button>
            <button data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover"
                    data-bs-content="And here's some amazing content. It's very engaging. Right?"
                    class="glass_item d-inline-block">
                advel
            </button>
        </div>
    </div>
</section>

{% include 'e_darslik/includes/footer.html' %}

{% endblock %}