{% extends 'e_darslik/base.html' %}
{% load static %}

{% block title %}PyDarslik - Bosh sahofa{% endblock %}


{% block content %}


{% include 'e_darslik/includes/navbar2.html' %}

<div class="container position-relative">
    <div class="row my-5 gx-4">
        {% for video in videos %}
        <div class="col-12 col-md-6 mb-5">
            <h5 class="video_title text-center">{{ video.title }}</h5>
            <div class="default_card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.url }}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>

        </div>

        {% endfor %}
    </div>
</div>

{% include 'e_darslik/includes/footer.html' %}


{% endblock %}


